:root {
  --md-source: #80a4ed;
  /* primary */
  --pal-primary0: #000000;
  --pal-primary4: #000d28;
  --pal-primary5: #00102d;
  --pal-primary6: #001231;
  --pal-primary10: #001a41;
  --pal-primary12: #001e49;
  --pal-primary17: #00285d;
  --pal-primary20: #002e69;
  --pal-primary22: #003271;
  --pal-primary24: #00377a;
  --pal-primary25: #00397e;
  --pal-primary30: #0e448e;
  --pal-primary35: #21509b;
  --pal-primary40: #315da8;
  --pal-primary50: #4c76c3;
  --pal-primary60: #6790de;
  --pal-primary70: #82abfb;
  --pal-primary80: #adc6ff;
  --pal-primary87: #cbdaff;
  --pal-primary90: #d8e2ff;
  --pal-primary92: #e0e8ff;
  --pal-primary94: #e9edff;
  --pal-primary95: #edf0ff;
  --pal-primary96: #f1f3ff;
  --pal-primary98: #f9f9ff;
  --pal-primary99: #fefbff;
  --pal-primary100: #ffffff;
  /* secondary */
  --pal-secondary0: #000000;
  --pal-secondary4: #140039;
  --pal-secondary5: #170040;
  --pal-secondary6: #1a0047;
  --pal-secondary10: #23005b;
  --pal-secondary12: #280561;
  --pal-secondary17: #32156b;
  --pal-secondary20: #391e72;
  --pal-secondary22: #3e2376;
  --pal-secondary24: #42287b;
  --pal-secondary25: #442a7d;
  --pal-secondary30: #50378a;
  --pal-secondary35: #5c4396;
  --pal-secondary40: #684fa3;
  --pal-secondary50: #8268be;
  --pal-secondary60: #9c82da;
  --pal-secondary70: #b79cf7;
  --pal-secondary80: #d1bcff;
  --pal-secondary87: #e2d3ff;
  --pal-secondary90: #e9ddff;
  --pal-secondary92: #eee4ff;
  --pal-secondary94: #f3eaff;
  --pal-secondary95: #f6edff;
  --pal-secondary96: #f9f1ff;
  --pal-secondary98: #fef7ff;
  --pal-secondary99: #fffbff;
  --pal-secondary100: #ffffff;
  /* tertiary */
  --pal-tertiary0: #000000;
  --pal-tertiary4: #1d002b;
  --pal-tertiary5: #220031;
  --pal-tertiary6: #250036;
  --pal-tertiary10: #320047;
  --pal-tertiary12: #38004f;
  --pal-tertiary17: #440e5b;
  --pal-tertiary20: #4b1662;
  --pal-tertiary22: #501c67;
  --pal-tertiary24: #55216c;
  --pal-tertiary25: #58236e;
  --pal-tertiary30: #64307b;
  --pal-tertiary35: #713c87;
  --pal-tertiary40: #7e4894;
  --pal-tertiary50: #9961af;
  --pal-tertiary60: #b57acb;
  --pal-tertiary70: #d195e7;
  --pal-tertiary80: #ebb2ff;
  --pal-tertiary87: #f4cdff;
  --pal-tertiary90: #f8d8ff;
  --pal-tertiary92: #fae0ff;
  --pal-tertiary94: #fde7ff;
  --pal-tertiary95: #feebff;
  --pal-tertiary96: #ffefff;
  --pal-tertiary98: #fff7fb;
  --pal-tertiary99: #fffbff;
  --pal-tertiary100: #ffffff;
  /* neutral */
  --pal-neutral0: #000000;
  --pal-neutral4: #0f0e09;
  --pal-neutral5: #12110c;
  --pal-neutral6: #14130e;
  --pal-neutral10: #1d1c16;
  --pal-neutral12: #21201a;
  --pal-neutral17: #2b2a24;
  --pal-neutral20: #32302b;
  --pal-neutral22: #36352f;
  --pal-neutral24: #3b3933;
  --pal-neutral25: #3d3b35;
  --pal-neutral30: #484740;
  --pal-neutral35: #54524c;
  --pal-neutral40: #605e57;
  --pal-neutral50: #797770;
  --pal-neutral60: #939089;
  --pal-neutral70: #aeaba3;
  --pal-neutral80: #cac6be;
  --pal-neutral87: #dedad1;
  --pal-neutral90: #e6e2d9;
  --pal-neutral92: #ece8df;
  --pal-neutral94: #f2ede4;
  --pal-neutral95: #f5f0e7;
  --pal-neutral96: #f8f3ea;
  --pal-neutral98: #fdf9f0;
  --pal-neutral99: #fffbff;
  --pal-neutral100: #ffffff;
  /* neutral-variant */
  --pal-neutral-variant0: #000000;
  --pal-neutral-variant4: #0a0f14;
  --pal-neutral-variant5: #0d1117;
  --pal-neutral-variant6: #0f141a;
  --pal-neutral-variant10: #171c22;
  --pal-neutral-variant12: #1b2026;
  --pal-neutral-variant17: #262a31;
  --pal-neutral-variant20: #2c3137;
  --pal-neutral-variant22: #30353c;
  --pal-neutral-variant24: #353940;
  --pal-neutral-variant25: #373c42;
  --pal-neutral-variant30: #42474e;
  --pal-neutral-variant35: #4e535a;
  --pal-neutral-variant40: #5a5f66;
  --pal-neutral-variant50: #73777f;
  --pal-neutral-variant60: #8d9199;
  --pal-neutral-variant70: #a7abb4;
  --pal-neutral-variant80: #c3c7cf;
  --pal-neutral-variant87: #d6dae3;
  --pal-neutral-variant90: #dfe2eb;
  --pal-neutral-variant92: #e4e8f1;
  --pal-neutral-variant94: #eaeef7;
  --pal-neutral-variant95: #edf1fa;
  --pal-neutral-variant96: #f0f4fc;
  --pal-neutral-variant98: #f8f9ff;
  --pal-neutral-variant99: #fdfcff;
  --pal-neutral-variant100: #ffffff;
  /* error */
  --pal-error0: #000000;
  --pal-error4: #280001;
  --pal-error5: #2d0001;
  --pal-error6: #310001;
  --pal-error10: #410002;
  --pal-error12: #490002;
  --pal-error17: #5c0004;
  --pal-error20: #690005;
  --pal-error22: #710005;
  --pal-error24: #790006;
  --pal-error25: #7e0007;
  --pal-error30: #93000a;
  --pal-error35: #a80710;
  --pal-error40: #ba1a1a;
  --pal-error50: #de3730;
  --pal-error60: #ff5449;
  --pal-error70: #ff897d;
  --pal-error80: #ffb4ab;
  --pal-error87: #ffcfc9;
  --pal-error90: #ffdad6;
  --pal-error92: #ffe2de;
  --pal-error94: #ffe9e6;
  --pal-error95: #ffedea;
  --pal-error96: #fff0ee;
  --pal-error98: #fff8f7;
  --pal-error99: #fffbff;
  --pal-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: var(--pal-primary40);
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #d8e2ff;
  --md-sys-color-on-primary-container-light: #001a41;
  --md-sys-color-primary-fixed-light: #d8e2ff;
  --md-sys-color-on-primary-fixed-light: #001a41;
  --md-sys-color-primary-fixed-dim-light: #adc6ff;
  --md-sys-color-on-primary-fixed-variant-light: #0e448e;
  --md-sys-color-secondary-light: #684fa3;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #e9ddff;
  --md-sys-color-on-secondary-container-light: #23005b;
  --md-sys-color-secondary-fixed-light: #e9ddff;
  --md-sys-color-on-secondary-fixed-light: #23005b;
  --md-sys-color-secondary-fixed-dim-light: #d1bcff;
  --md-sys-color-on-secondary-fixed-variant-light: #50378a;
  --md-sys-color-tertiary-light: #7e4894;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #f8d8ff;
  --md-sys-color-on-tertiary-container-light: #320047;
  --md-sys-color-tertiary-fixed-light: #f8d8ff;
  --md-sys-color-on-tertiary-fixed-light: #320047;
  --md-sys-color-tertiary-fixed-dim-light: #ebb2ff;
  --md-sys-color-on-tertiary-fixed-variant-light: #64307b;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #1d1c16;
  --md-sys-color-outline-light: #73777f;
  --md-sys-color-inverse-on-surface-light: #f5f0e7;
  --md-sys-color-inverse-surface-light: #32302b;
  --md-sys-color-inverse-primary-light: #adc6ff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #315da8;
  --md-sys-color-outline-variant-light: #c3c7cf;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #fdf9f0;
  --md-sys-color-on-surface-light: #1d1c16;
  --md-sys-color-surface-variant-light: #dfe2eb;
  --md-sys-color-on-surface-variant-light: #42474e;
  --md-sys-color-surface-container-highest-light: #e6e2d9;
  --md-sys-color-surface-container-high-light: #ece8df;
  --md-sys-color-surface-container-light: #f2ede4;
  --md-sys-color-surface-container-low-light: #f8f3ea;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #dedad1;
  --md-sys-color-surface-bright-light: #fdf9f0;
  /* dark */
  --md-sys-color-primary-dark: #adc6ff;
  --md-sys-color-on-primary-dark: #002e69;
  --md-sys-color-primary-container-dark: #0e448e;
  --md-sys-color-on-primary-container-dark: #d8e2ff;
  --md-sys-color-primary-fixed-dark: #d8e2ff;
  --md-sys-color-on-primary-fixed-dark: #001a41;
  --md-sys-color-primary-fixed-dim-dark: #adc6ff;
  --md-sys-color-on-primary-fixed-variant-dark: #0e448e;
  --md-sys-color-secondary-dark: #d1bcff;
  --md-sys-color-on-secondary-dark: #391e72;
  --md-sys-color-secondary-container-dark: #50378a;
  --md-sys-color-on-secondary-container-dark: #e9ddff;
  --md-sys-color-secondary-fixed-dark: #e9ddff;
  --md-sys-color-on-secondary-fixed-dark: #23005b;
  --md-sys-color-secondary-fixed-dim-dark: #d1bcff;
  --md-sys-color-on-secondary-fixed-variant-dark: #50378a;
  --md-sys-color-tertiary-dark: #ebb2ff;
  --md-sys-color-on-tertiary-dark: #4b1662;
  --md-sys-color-tertiary-container-dark: #64307b;
  --md-sys-color-on-tertiary-container-dark: #f8d8ff;
  --md-sys-color-tertiary-fixed-dark: #f8d8ff;
  --md-sys-color-on-tertiary-fixed-dark: #320047;
  --md-sys-color-tertiary-fixed-dim-dark: #ebb2ff;
  --md-sys-color-on-tertiary-fixed-variant-dark: #64307b;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1d1c16;
  --md-sys-color-on-background-dark: #e6e2d9;
  --md-sys-color-outline-dark: #8d9199;
  --md-sys-color-inverse-on-surface-dark: #1d1c16;
  --md-sys-color-inverse-surface-dark: #e6e2d9;
  --md-sys-color-inverse-primary-dark: #315da8;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #adc6ff;
  --md-sys-color-outline-variant-dark: #42474e;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #14130e;
  --md-sys-color-on-surface-dark: #cac6be;
  --md-sys-color-surface-variant-dark: #42474e;
  --md-sys-color-on-surface-variant-dark: #c3c7cf;
  --md-sys-color-surface-container-highest-dark: #36352f;
  --md-sys-color-surface-container-high-dark: #2b2a24;
  --md-sys-color-surface-container-dark: #21201a;
  --md-sys-color-surface-container-low-dark: #1d1c16;
  --md-sys-color-surface-container-lowest-dark: #0f0e09;
  --md-sys-color-surface-dim-dark: #14130e;
  --md-sys-color-surface-bright-dark: #3b3933;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
