.container {
  container-name: form;
  container-type: inline-size;
  display: flex;
  grid-area: span 1 / span 4;
  box-sizing: border-box;
  border-radius: 2vmin;

  flex-flow: column nowrap;
  .form {
    overflow: auto;
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    flex-flow: column nowrap;
    padding: 0.2;
    gap: 0.2;
    sub {
      color: var(--primary);
    }
    .buttonsRow {
      display: flex;
      flex-flow: row nowrap;
    }
  }
}
.submitButton {
  border: none;
  box-shadow: var(--dp5);
  border-radius: 2vmax;
  flex-grow: 1;
  width: 30em;
  background-color: var(--secondary);
  & > span {
    color: var(--on-secondary);
    font-variation-settings:
      "FILL" 0,
      "wght" 300,
      "GRAD" 0,
      "opsz" 24;
  }
  &:hover,
  &:active {
    background-color: var(--secondary);
    box-shadow: var(--dp8);
    & > span {
      font-variation-settings:
        "FILL" 1,
        "wght" 600,
        "GRAD" 200,
        "opsz" 48;
      color: var(--on-secondary);
    }
  }
}
.textArea,
.selectArea {
  flex: 1 1 auto;
  background-color: var(--surface-container-highest);
  color: var(--on-surface-variant);
  border: none;
  text-decoration: none;
  border-bottom: solid 0.1rem var(--on-surface-variant);
  border-top-left-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
  grid-area: inputSearchBar;
  text-align: center;
  font-family: var(--josefa);
  font-size: 0.8rem;
  box-sizing: border-box;
  resize: both;
  padding: 0.16rem;
  &:hover {
    box-shadow: var(--dp8);
    color: var(--on-surface);
    border-bottom: dashed 0.1rem var(--primary-fixed-dim);
  }
  &:active,
  &:focus {
    color: var(--on-surface);
    border-bottom: solid 0.2rem var(--primary);
  }
}

.label {
  flex: 1 0 auto;
  text-align: right;
}
.titleInput,
.title {
  flex: 2;
}
.vencimientoArea {
  @extend .textArea;
  border-radius: 0.1rem 0 0 0.1rem;
}

.button {
  border: none;
  box-shadow: var(--dp5);
  border-radius: 2vmin;
  padding: 1vmin;
  flex-grow: 1;
  background-color: var(--secondary-container);
  color: var(--on-secondary);
  display: flex;
  flex-flow: column nowrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;

  & > .icon,
  & > .text {
    color: var(--on-secondary-container);
    transition: all 1s;
    font-variation-settings:
      "FILL" 0,
      "wght" 300,
      "GRAD" 0,
      "opsz" 24;
  }
  &:hover,
  &:active {
    background-color: var(--tertiary-container);
    box-shadow: var(--dp8);
    & > span {
      font-variation-settings:
        "FILL" 1,
        "wght" 400,
        "GRAD" 200,
        "opsz" 24;
      color: var(--tertiary);
    }
  }
}
/* The switchBox - the box around the slider */
.switchBox {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: 0.02rem solid var(--outline-variant);
  border-radius: 50vw;
  width: 3rem;
  height: 1rem;
}

/* Hide default HTML checkbox */
.switchBox .inputElement {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  border-radius: 50vw;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--surface-container-highest);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  border-radius: 50vw;
  position: absolute;
  content: "";
  height: 0.8rem;
  width: 0.8rem;
  left: 0.03rem;
  bottom: 0.02rem;
  background-color: var(--outline);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.inputElement:checked + .slider {
  background-color: var(--primary);
  &:before {
    background-color: var(--on-primary);
  }
}

.inputElement:focus + .slider {
  box-shadow: 0 0 1px var(--primary);
}

.inputElement:checked + .slider:before {
  -webkit-transform: translateX(2rem);
  -ms-transform: translateX(2rem);
  transform: translateX(2rem);
}
