.container {
  container-name: note;
  container-type: inline-size;
  grid-area: span 2 / span 4;
  display: flex;
  border-radius: 2vmin;
  flex-flow: column nowrap;
  .form,
  .nota {
    border-radius: 2vmin;
    display: flex;
    flex-flow: column nowrap;
    padding: 2vmin;
    gap: 2vmin;
    sub {
      color: var(--primary);
    }
    .buttonsRow {
      display: flex;
      flex-flow: row nowrap;
    }
    .section {
      gap: 1cqmin;
      padding: 2vmin;
      flex: 1;
      display: flex;
      flex-flow: column wrap;
      background-color: var(--surface);
      & > .section {
        background-color: var(--surface-container-low);
        gap: 5cqmin;
        padding: 5cqw;
        display: flex;
        flex: 1;
        flex-flow: row wrap;
        & > .section {
          background-color: var(--surface-container-lowest);
          gap: 2cqmin;
          padding: 5cqh;
          display: flex;
          flex: 1;
          flex-flow: column nowrap;
        }
      }
      .label {
        font-family: var(--font-poiret);
        flex: 1;
      }
      .titleInput,
      .title {
        flex: 2;
      }
    }
  }
}
.submitButton {
  border: none;
  box-shadow: var(--dp5);
  border-radius: 2vmax;
  flex-grow: 1;
  width: 20em;
  background-color: var(--secondary);
  & > span {
    color: var(--on-secondary);
    font-variation-settings:
      'FILL' 0,
      'wght' 300,
      'GRAD' 0,
      'opsz' 24;
  }
  &:hover,
  &:active {
    background-color: var(--secondary);
    box-shadow: var(--dp8);
    & > span {
      font-variation-settings:
        'FILL' 1,
        'wght' 600,
        'GRAD' 200,
        'opsz' 48;
      color: var(--on-secondary);
    }
  }
}
.textArea,
.selectArea {
  background-color: var(--surface-container-lowest);
  color: var(--on-surface);
  box-shadow: var(--dp2);
  flex: 2;
  border: solid 2px var(--outline);
  border-radius: 2vmin;
  resize: both;
  text-align: center;
  padding: 1vmin;

  &:hover {
    box-shadow: var(--dp8);
    border: var(--surface-tint) solid 2px;
  }
  &:focus {
    background-color: var(--surface-container-lowest);
  }
}

.editButton {
  grid-area: editButton;
}
.deleteButton {
  grid-area: deleteButton;
}
.addButton {
  grid-area: addButton;
}
.HomeButton {
  grid-area: HomeButton;
}
.button,
.editButton,
.deleteButton,
.addButton,
.HomeButton {
  border: none;
  box-shadow: var(--dp5);
  border-radius: 2vmin;
  padding: 1vmin;
  flex-grow: 1;
  background-color: var(--secondary);
  display: flex;
  flex-flow: column nowrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  & > .ButtonTextHelper {
    display: none;
    opacity: 0;
    transition: all 1s;
  }
  & > span {
    color: var(--on-secondary);
    font-variation-settings:
      'FILL' 0,
      'wght' 300,
      'GRAD' 0,
      'opsz' 24;
  }
  &:hover,
  &:active {
    background-color: var(--tertiary-container);
    box-shadow: var(--dp8);
    & > span {
      font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 200,
        'opsz' 24;
      color: var(--tertiary);
    }
  }
}
.content {
  align-self: stretch;
}
.checkboxItem {
  padding: 15px;
}
.tareas {
  display: flex;
  flex-flow: column nowrap;
}
.select {
  background-color: var(--primary-container);
}
.innactive {
  background-color: var(--outline-variant);
  color: var(--outline);
}
.active {
  background-color: var(--secondary);
  color: var(--on-secondary);
} /* The switch - the box around the slider */
.switchBox {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  .checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .slider {
      background-color: #2196f3;
      &:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
    }
    &:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }
  }
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    &:before {
      position: absolute;
      content: '';
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }
} /* The slider */
