.button, .buttonChip, .buttonActuacion, .buttonHome, .buttonModal, .buttonDrawerMenu, .buttonBackwards, .buttonForward, .buttonPassiveCategory, .buttonActiveCategory, .buttonEdit {
  border: none;
  box-sizing: border-box;
  padding: 0.5rem;
  flex: 1;
  display: flex;
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  flex-flow: row nowrap;
  justify-items: stretch;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  transition: all 0.3s;
}
.buttonEdit {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
}
.buttonActiveCategory {
  flex-flow: column nowrap;
  flex: 2;
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
}
.buttonActiveCategory > .icon, .buttonActiveCategory > .text {
  color: var(--on-secondary-container);
}
.buttonPassiveCategory {
  flex: 1;
  flex-flow: column nowrap;
  background-color: var(--surface-container-high);
  color: var(--secondary);
}
.buttonPassiveCategory > .icon {
  color: var(--secondary);
}
.buttonPassiveCategory > .text {
  color: var(--on-surface);
}
.buttonForward {
  grid-area: forwardButton;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--primary-container);
  color: var(--on-primary-container);
}
.buttonForward > .icon, .buttonForward > .text {
  color: var(--on-primary-container);
}
.buttonBackwards {
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  padding-top: 0;
  padding-bottom: 0;
  grid-area: backwardsButton;
}
.buttonBackwards > .icon, .buttonBackwards > .text {
  color: var(--on-primary-container);
}
.buttonDrawerMenu {
  grid-area: drawerMenuButton;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--secondary);
  color: var(--on-secondary);
}
.buttonDrawerMenu > .icon, .buttonDrawerMenu > .text {
  color: var(--on-secondary);
}
.buttonModal {
  grid-area: modal;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--tertiary-container);
  color: var(--on-tertirary-container);
}
.buttonModal > .icon, .buttonModal > .text {
  color: var(--on-tertirary-container);
}
.buttonHome {
  box-shadow: var(--dp2);
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--primary);
  color: var(--on-primary);
}
.buttonHome > .icon, .buttonHome > .text {
  color: var(--on-primary);
}
.buttonActuacion {
  flex: 0 1 auto;
}
.buttonChip {
  height: minmax(2rem, 3rem);
  flex: 0 1 auto;
  box-sizing: border-box;
}

.active {
  background-color: var(--tertiary-container);
  color: var(--on-tertiary-container);
}

.snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: var(--inverse-surface);
  color: var(--inverse-on-surface);
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}
.snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
