.button {
  border: none;
  box-sizing: border-box;
  padding:.5rem;
  flex: 1;
  display: flex;
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  flex-flow: column nowrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
  &Edit {
    @extend .button;
    background-color: var(--inverse-surface);
    color: var(--inverse-on-surface);
  }
  &ActiveCategory {
    @extend .button;
    background-color: var(--secondary);

    color: var(--on-secondary);
    & > .icon,
    & > .text {
      color: var(--on-secondary);
    }
  }
  &PassiveCategory {
    @extend .button;
    background-color: var(--secondary-container);

    color: var(--on-secondary-container);
    & > .icon,
    & > .text {
      color: var(--on-secondary-container);
    }
  }
  &Forward {
    @extend .button;
    grid-area: forwardButton;
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--primary-container);
    color: var(--on-primary-container);
    & > .icon,
    & > .text {
      color: var(--on-primary-container);
    }
  }
  &Backwards {
    @extend .button;
    background-color: var(--primary-container);
    color: var(--on-primary-container);

    padding-top: 0;
    padding-bottom: 0;
    grid-area: backwardsButton;
    & > .icon,
    & > .text {
      color: var(--on-primary-container);
    }
  }

  &DrawerMenu {
    @extend .button;
    grid-area: drawerMenuButton;

    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--primary-fixed);
    color: var(--on-primary-fixed);
    & > .icon,
    & > .text {
      color: var(--on-primary-fixed);
    }
  }

  &Modal {
    @extend .button;
    grid-area: modal;

    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--tertiary-container);
    color: var(--on-tertirary-container);
    & > .icon,
    & > .text {
      color: var(--on-tertirary-container);
    }
  }
  &Home {
    @extend .button;
    box-shadow: var(--dp2);

    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--primary);
    color: var(--on-primary);
    & > .icon,
    & > .text {
      color: var(--on-primary);
    }
  }
  &Actuacion{
    @extend .button;
    flex: 0 1 auto;

  }
}
.active {
  background-color: var(--tertiary-container);
  color: var(--on-tertiary-container);
}
