.button, .buttonActuacion, .buttonHome, .buttonModal, .buttonDrawerMenu, .buttonBackwards, .buttonForward, .buttonPassiveCategory, .buttonActiveCategory, .buttonEdit {
  border: none;
  box-sizing: border-box;
  padding: 0.5rem;
  flex: 1;
  display: flex;
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  flex-flow: column nowrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
}
.buttonEdit {
  background-color: var(--inverse-surface);
  color: var(--inverse-on-surface);
}
.buttonActiveCategory {
  background-color: var(--secondary);
  color: var(--on-secondary);
}
.buttonActiveCategory > .icon, .buttonActiveCategory > .text {
  color: var(--on-secondary);
}
.buttonPassiveCategory {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
}
.buttonPassiveCategory > .icon, .buttonPassiveCategory > .text {
  color: var(--on-secondary-container);
}
.buttonForward {
  grid-area: forwardButton;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--primary-container);
  color: var(--on-primary-container);
}
.buttonForward > .icon, .buttonForward > .text {
  color: var(--on-primary-container);
}
.buttonBackwards {
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  padding-top: 0;
  padding-bottom: 0;
  grid-area: backwardsButton;
}
.buttonBackwards > .icon, .buttonBackwards > .text {
  color: var(--on-primary-container);
}
.buttonDrawerMenu {
  grid-area: drawerMenuButton;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--primary-fixed);
  color: var(--on-primary-fixed);
}
.buttonDrawerMenu > .icon, .buttonDrawerMenu > .text {
  color: var(--on-primary-fixed);
}
.buttonModal {
  grid-area: modal;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--tertiary-container);
  color: var(--on-tertirary-container);
}
.buttonModal > .icon, .buttonModal > .text {
  color: var(--on-tertirary-container);
}
.buttonHome {
  box-shadow: var(--dp2);
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--primary);
  color: var(--on-primary);
}
.buttonHome > .icon, .buttonHome > .text {
  color: var(--on-primary);
}
.buttonActuacion {
  flex: 0 1 auto;
}

.active {
  background-color: var(--tertiary-container);
  color: var(--on-tertiary-container);
}
