@import url(./theme/theme.light.css) (prefers-color-scheme: light);
@import url(./theme/theme.dark.css) (prefers-color-scheme: dark);
@import url(./fonts/typography.module.css);
@import url(./theme/colors.module.css);
@import url(./theme/tokens.css);
:root {
  --md-source: #a9cef4;
  /* primary */
  --pal-primary0: #000000;
  --pal-primary4: #000f1e;
  --pal-primary5: #001222;
  --pal-primary6: #001526;
  --pal-primary10: #001d32;
  --pal-primary12: #002139;
  --pal-primary17: #002c49;
  --pal-primary20: #003353;
  --pal-primary22: #00385a;
  --pal-primary24: #003c61;
  --pal-primary25: #003e64;
  --pal-primary30: #004a76;
  --pal-primary35: #005688;
  --pal-primary40: #00639a;
  --pal-primary50: #217cbb;
  --pal-primary60: #4696d7;
  --pal-primary70: #64b1f3;
  --pal-primary80: #96ccff;
  --pal-primary87: #beddff;
  --pal-primary90: #cee5ff;
  --pal-primary92: #d8eaff;
  --pal-primary94: #e3efff;
  --pal-primary95: #e8f2ff;
  --pal-primary96: #edf4ff;
  --pal-primary98: #f7f9ff;
  --pal-primary99: #fcfcff;
  --pal-primary100: #ffffff;
  /* secondary */
  --pal-secondary0: #000000;
  --pal-secondary4: #00101a;
  --pal-secondary5: #00131e;
  --pal-secondary6: #001521;
  --pal-secondary10: #001e2d;
  --pal-secondary12: #002233;
  --pal-secondary17: #002d42;
  --pal-secondary20: #00344b;
  --pal-secondary22: #003951;
  --pal-secondary24: #003e57;
  --pal-secondary25: #00405a;
  --pal-secondary30: #004c6b;
  --pal-secondary35: #00597b;
  --pal-secondary40: #00658c;
  --pal-secondary50: #0080af;
  --pal-secondary60: #2a9ace;
  --pal-secondary70: #50b5eb;
  --pal-secondary80: #80cfff;
  --pal-secondary87: #b2e0ff;
  --pal-secondary90: #c5e7ff;
  --pal-secondary92: #d2ecff;
  --pal-secondary94: #def0ff;
  --pal-secondary95: #e4f3ff;
  --pal-secondary96: #eaf5ff;
  --pal-secondary98: #f5faff;
  --pal-secondary99: #fbfcff;
  --pal-secondary100: #ffffff;
  /* tertiary */
  --pal-tertiary0: #000000;
  --pal-tertiary4: #210022;
  --pal-tertiary5: #260027;
  --pal-tertiary6: #2a002b;
  --pal-tertiary10: #380039;
  --pal-tertiary12: #3e0040;
  --pal-tertiary17: #4c0a4d;
  --pal-tertiary20: #541354;
  --pal-tertiary22: #591859;
  --pal-tertiary24: #5e1d5e;
  --pal-tertiary25: #612060;
  --pal-tertiary30: #6e2c6d;
  --pal-tertiary35: #7c3879;
  --pal-tertiary40: #894486;
  --pal-tertiary50: #a55da1;
  --pal-tertiary60: #c276bc;
  --pal-tertiary70: #df90d8;
  --pal-tertiary80: #fdabf5;
  --pal-tertiary87: #ffcaf6;
  --pal-tertiary90: #ffd6f7;
  --pal-tertiary92: #ffdff7;
  --pal-tertiary94: #ffe7f8;
  --pal-tertiary95: #ffebf8;
  --pal-tertiary96: #ffeff9;
  --pal-tertiary98: #fff7f9;
  --pal-tertiary99: #fffbff;
  --pal-tertiary100: #ffffff;
  /* neutral */
  --pal-neutral0: #000000;
  --pal-neutral4: #0c0e11;
  --pal-neutral5: #0f1113;
  --pal-neutral6: #111416;
  --pal-neutral10: #1a1c1e;
  --pal-neutral12: #1e2022;
  --pal-neutral17: #282a2d;
  --pal-neutral20: #2f3033;
  --pal-neutral22: #333537;
  --pal-neutral24: #37393c;
  --pal-neutral25: #3a3b3e;
  --pal-neutral30: #45474a;
  --pal-neutral35: #515255;
  --pal-neutral40: #5d5e61;
  --pal-neutral50: #76777a;
  --pal-neutral60: #909194;
  --pal-neutral70: #aaabae;
  --pal-neutral80: #c6c6c9;
  --pal-neutral87: #d9dadd;
  --pal-neutral90: #e2e2e5;
  --pal-neutral92: #e8e8eb;
  --pal-neutral94: #ededf1;
  --pal-neutral95: #f0f0f4;
  --pal-neutral96: #f3f3f6;
  --pal-neutral98: #f9f9fc;
  --pal-neutral99: #fcfcff;
  --pal-neutral100: #ffffff;
  /* neutral-variant */
  --pal-neutral-variant0: #000000;
  --pal-neutral-variant4: #120d05;
  --pal-neutral-variant5: #151006;
  --pal-neutral-variant6: #181308;
  --pal-neutral-variant10: #201b10;
  --pal-neutral-variant12: #251f14;
  --pal-neutral-variant17: #2f291d;
  --pal-neutral-variant20: #363024;
  --pal-neutral-variant22: #3b3428;
  --pal-neutral-variant24: #3f382c;
  --pal-neutral-variant25: #423a2e;
  --pal-neutral-variant30: #4d4639;
  --pal-neutral-variant35: #595144;
  --pal-neutral-variant40: #665d4f;
  --pal-neutral-variant50: #7f7667;
  --pal-neutral-variant60: #998f80;
  --pal-neutral-variant70: #b5aa99;
  --pal-neutral-variant80: #d0c5b4;
  --pal-neutral-variant87: #e4d8c7;
  --pal-neutral-variant90: #ede1cf;
  --pal-neutral-variant92: #f3e7d5;
  --pal-neutral-variant94: #f9ecda;
  --pal-neutral-variant95: #fcefdd;
  --pal-neutral-variant96: #fff2e0;
  --pal-neutral-variant98: #fff8f2;
  --pal-neutral-variant99: #fffbff;
  --pal-neutral-variant100: #ffffff;
  /* error */
  --pal-error0: #000000;
  --pal-error4: #280001;
  --pal-error5: #2d0001;
  --pal-error6: #310001;
  --pal-error10: #410002;
  --pal-error12: #490002;
  --pal-error17: #5c0004;
  --pal-error20: #690005;
  --pal-error22: #710005;
  --pal-error24: #790006;
  --pal-error25: #7e0007;
  --pal-error30: #93000a;
  --pal-error35: #a80710;
  --pal-error40: #ba1a1a;
  --pal-error50: #de3730;
  --pal-error60: #ff5449;
  --pal-error70: #ff897d;
  --pal-error80: #ffb4ab;
  --pal-error87: #ffcfc9;
  --pal-error90: #ffdad6;
  --pal-error92: #ffe2de;
  --pal-error94: #ffe9e6;
  --pal-error95: #ffedea;
  --pal-error96: #fff0ee;
  --pal-error98: #fff8f7;
  --pal-error99: #fffbff;
  --pal-error100: #ffffff;
  /* light */
  --primary-light: #00639a;
  --on-primary-light: #ffffff;
  --primary-container-light: #cee5ff;
  --on-primary-container-light: #001d32;
  --primary-fixed-light: #cee5ff;
  --on-primary-fixed-light: #001d32;
  --primary-fixed-dim-light: #96ccff;
  --on-primary-fixed-variant-light: #004a76;
  --secondary-light: #00658c;
  --on-secondary-light: #ffffff;
  --secondary-container-light: #c5e7ff;
  --on-secondary-container-light: #001e2d;
  --secondary-fixed-light: #c5e7ff;
  --on-secondary-fixed-light: #001e2d;
  --secondary-fixed-dim-light: #80cfff;
  --on-secondary-fixed-variant-light: #004c6b;
  --tertiary-light: #894486;
  --on-tertiary-light: #ffffff;
  --tertiary-container-light: #ffd6f7;
  --on-tertiary-container-light: #380039;
  --tertiary-fixed-light: #ffd6f7;
  --on-tertiary-fixed-light: #380039;
  --tertiary-fixed-dim-light: #fdabf5;
  --on-tertiary-fixed-variant-light: #6e2c6d;
  --error-light: #ba1a1a;
  --error-container-light: #ffdad6;
  --on-error-light: #ffffff;
  --on-error-container-light: #410002;
  --background-light: #fcfcff;
  --on-background-light: #1a1c1e;
  --outline-light: #7f7667;
  --inverse-on-surface-light: #f0f0f4;
  --inverse-surface-light: #2f3033;
  --inverse-primary-light: #96ccff;
  --shadow-light: #000000;
  --surface-tint-light: #00639a;
  --outline-variant-light: #d0c5b4;
  --scrim-light: #000000;
  --surface-light: #f9f9fc;
  --on-surface-light: #1a1c1e;
  --surface-variant-light: #ede1cf;
  --on-surface-variant-light: #4d4639;
  --surface-container-highest-light: #e2e2e5;
  --surface-container-high-light: #e8e8eb;
  --surface-container-light: #ededf1;
  --surface-container-low-light: #f3f3f6;
  --surface-container-lowest-light: #ffffff;
  --surface-dim-light: #d9dadd;
  --surface-bright-light: #f9f9fc;
  /* dark */
  --primary-dark: #96ccff;
  --on-primary-dark: #003353;
  --primary-container-dark: #004a76;
  --on-primary-container-dark: #cee5ff;
  --primary-fixed-dark: #cee5ff;
  --on-primary-fixed-dark: #001d32;
  --primary-fixed-dim-dark: #96ccff;
  --on-primary-fixed-variant-dark: #004a76;
  --secondary-dark: #80cfff;
  --on-secondary-dark: #00344b;
  --secondary-container-dark: #004c6b;
  --on-secondary-container-dark: #c5e7ff;
  --secondary-fixed-dark: #c5e7ff;
  --on-secondary-fixed-dark: #001e2d;
  --secondary-fixed-dim-dark: #80cfff;
  --on-secondary-fixed-variant-dark: #004c6b;
  --tertiary-dark: #fdabf5;
  --on-tertiary-dark: #541354;
  --tertiary-container-dark: #6e2c6d;
  --on-tertiary-container-dark: #ffd6f7;
  --tertiary-fixed-dark: #ffd6f7;
  --on-tertiary-fixed-dark: #380039;
  --tertiary-fixed-dim-dark: #fdabf5;
  --on-tertiary-fixed-variant-dark: #6e2c6d;
  --error-dark: #ffb4ab;
  --error-container-dark: #93000a;
  --on-error-dark: #690005;
  --on-error-container-dark: #ffdad6;
  --background-dark: #1a1c1e;
  --on-background-dark: #e2e2e5;
  --outline-dark: #998f80;
  --inverse-on-surface-dark: #1a1c1e;
  --inverse-surface-dark: #e2e2e5;
  --inverse-primary-dark: #00639a;
  --shadow-dark: #000000;
  --surface-tint-dark: #96ccff;
  --outline-variant-dark: #4d4639;
  --scrim-dark: #000000;
  --surface-dark: #111416;
  --on-surface-dark: #c6c6c9;
  --surface-variant-dark: #4d4639;
  --on-surface-variant-dark: #d0c5b4;
  --surface-container-highest-dark: #333537;
  --surface-container-high-dark: #282a2d;
  --surface-container-dark: #1e2022;
  --surface-container-low-dark: #1a1c1e;
  --surface-container-lowest-dark: #0c0e11;
  --surface-dim-dark: #111416;
  --surface-bright-dark: #37393c;
  /* display - large */
  --display-large-font-family-name: var(--font-poiret);
  --display-large-font-family-style: Regular;
  --display-large-font-weight: 400px;
  --display-large-font-size: 57px;
  --display-large-line-height: 64px;
  --display-large-letter-spacing: -0.25px;
  /* display - medium */
  --display-medium-font-family-name: var(--font-poiret);
  --display-medium-font-family-style: Regular;
  --display-medium-font-weight: 400px;
  --display-medium-font-size: 45px;
  --display-medium-line-height: 52px;
  --display-medium-letter-spacing: 0px;
  /* display - small */
  --display-small-font-family-name: var(--font-poiret);
  --display-small-font-family-style: Regular;
  --display-small-font-weight: 400px;
  --display-small-font-size: 36px;
  --display-small-line-height: 44px;
  --display-small-letter-spacing: 0px;
  /* headline - large */
  --headline-large-font-family-name: var(--raleway);
  --headline-large-font-family-style: Regular;
  --headline-large-font-weight: 400px;
  --headline-large-font-size: 32px;
  --headline-large-line-height: 40px;
  --headline-large-letter-spacing: 0px;
  /* headline - medium */
  --headline-medium-font-family-name: var(--raleway);
  --headline-medium-font-family-style: Regular;
  --headline-medium-font-weight: 400px;
  --headline-medium-font-size: 28px;
  --headline-medium-line-height: 36px;
  --headline-medium-letter-spacing: 0px;
  /* headline - small */
  --headline-small-font-family-name: var(--raleway);
  --headline-small-font-family-style: Regular;
  --headline-small-font-weight: 400px;
  --headline-small-font-size: 24px;
  --headline-small-line-height: 32px;
  --headline-small-letter-spacing: 0px;
  /* body - large */
  --body-large-font-family-name: var(--inter);
  --body-large-font-family-style: Regular;
  --body-large-font-weight: 400px;
  --body-large-font-size: 16px;
  --body-large-line-height: 24px;
  --body-large-letter-spacing: 0.50px;
  /* body - medium */
  --body-medium-font-family-name: var(--inter);
  --body-medium-font-family-style: Regular;
  --body-medium-font-weight: 400px;
  --body-medium-font-size: 14px;
  --body-medium-line-height: 20px;
  --body-medium-letter-spacing: 0.25px;
  /* body - small */
  --body-small-font-family-name: var(--inter);
  --body-small-font-family-style: Regular;
  --body-small-font-weight: 400px;
  --body-small-font-size: 12px;
  --body-small-line-height: 16px;
  --body-small-letter-spacing: 0.40px;
  /* label - large */
  --label-large-font-family-name: var(--josefa);
  --label-large-font-family-style: Medium;
  --label-large-font-weight: 500px;
  --label-large-font-size: 14px;
  --label-large-line-height: 20px;
  --label-large-letter-spacing: 0.10px;
  /* label - medium */
  --label-medium-font-family-name: var(--josefa);
  --label-medium-font-family-style: Medium;
  --label-medium-font-weight: 500px;
  --label-medium-font-size: 12px;
  --label-medium-line-height: 16px;
  --label-medium-letter-spacing: 0.50px;
  /* label - small */
  --label-small-font-family-name: var(--josefa);
  --label-small-font-family-style: Medium;
  --label-small-font-weight: 500px;
  --label-small-font-size: 11px;
  --label-small-line-height: 16px;
  --label-small-letter-spacing: 0.50px;
  /* title - large */
  --title-large-font-family-name: var(--roboto);
  --title-large-font-family-style: Regular;
  --title-large-font-weight: 400px;
  --title-large-font-size: 22px;
  --title-large-line-height: 28px;
  --title-large-letter-spacing: 0px;
  /* title - medium */
  --title-medium-font-family-name: var(--roboto);
  --title-medium-font-family-style: Medium;
  --title-medium-font-weight: 500px;
  --title-medium-font-size: 16px;
  --title-medium-line-height: 24px;
  --title-medium-letter-spacing: 0.15px;
  /* title - small */
  --title-small-font-family-name: var(--roboto);
  --title-small-font-family-style: Medium;
  --title-small-font-weight: 500px;
  --title-small-font-size: 14px;
  --title-small-line-height: 20px;
  --title-small-letter-spacing: 0.10px;
  --dp0: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  --dp1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --dp2: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --dp3: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  --dp4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  --dp5: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  --dp6: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --dp7: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
    0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  --dp8: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  --dp9: 0px 5px 6px -3px rgba(0, 0, 0, 0.2),
    0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
  --dp10: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
    0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  --dp11: 0px 6px 7px -4px rgba(0, 0, 0, 0.2),
    0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
  --dp12: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  --dp13: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
  --dp14: 0px 7px 9px -4px rgba(0, 0, 0, 0.2),
    0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
  --dp15: 0px 8px 9px -5px rgba(0, 0, 0, 0.2),
    0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
  --dp16: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  --dp17: 0px 8px 11px -5px rgba(0, 0, 0, 0.2),
    0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
  --dp18: 0px 9px 11px -5px rgba(0, 0, 0, 0.2),
    0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
  --dp19: 0px 9px 12px -6px rgba(0, 0, 0, 0.2),
    0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
  --dp20: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
  --dp21: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
  --dp22: 0px 10px 14px -6px rgba(0, 0, 0, 0.2),
    0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
  --dp23: 0px 11px 14px -7px rgba(0, 0, 0, 0.2),
    0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
  --dp24: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  --minFontSize: 16px;
  --maxFontSize: 22px;
  --scaler: 6vw;
}

/*
:root {

  --primary: var(--pal-primary40);
  --on-primary: var(--pal-neutral100);
  --primary-container: var(--pal-primary90);
  --on-primary-container: var(--pal-primary10);
  --primary-fixed: var(--pal-primary90);
  --on-primary-fixed: var(--pal-primary10);
  --primary-fixed-dim: var(--pal-primary80);
  --on-primary-fixed-variant: var(--pal-primary30);
  --secondary: var(--pal-secondary40);
  --on-secondary: var(--pal-neutral100);
  --secondary-container: var(--pal-secondary90);
  --on-secondary-container: var(--pal-secondary10);
  --secondary-fixed: var(--pal-secondary90);
  --on-secondary-fixed: var(--pal-secondary10);
  --secondary-fixed-dim: var(--pal-secondary80);
  --on-secondary-fixed-variant: var(--pal-secondary30);
  --tertiary: var(--pal-tertiary40);
  --on-tertiary: var(--pal-neutral100);
  --tertiary-container: var(--pal-tertiary90);
  --on-tertiary-container: var(--pal-tertiary10);
  --tertiary-fixed: var(--pal-tertiary90);
  --on-tertiary-fixed: var(--pal-tertiary10);
  --tertiary-fixed-dim: var(--pal-tertiary80);
  --on-tertiary-fixed-variant: var(--pal-tertiary30);
  --error: var(--pal-error40);
  --error-container: var(--pal-error90);
  --on-error: var(--pal-neutral100);
  --on-error-container: var(--pal-error10);
  --background: var(--pal-neutral99);
  --on-background: var(--pal-neutral10);
  --outline: var(--pal-neutral50);
  --inverse-on-surface: var(--pal-neutral95);
  --inverse-surface: var(--pal-neutral20);
  --inverse-primary: var(--pal-primary80);
  --shadow: var(--pal-neutral0);
  --surface-tint: var(--pal-primary40);
  --outline-variant: var(--pal-neutral-variant80);
  --scrim: var(--pal-neutral0);
  --surface: var(--pal-neutral98);
  --on-surface: var(--pal-neutral10);
  --surface-variant: var(--pal-neutral-variant90);
  --on-surface-variant: var(--pal-neutral-variant30);
  --surface-container-highest: var(--pal-neutral90);
  --surface-container-high: var(--pal-neutral92);
  --surface-container: var(--pal-neutral94);
  --surface-container-low: var(--pal-neutral96);
  --surface-container-lowest: var(--pal-neutral100);
  --surface-dim: var(--pal-neutral87);
  --surface-bright: var(--pal-neutral98);
  --on-nav-background: var(--pal-primary12);
  --nav-background: var(--pal-primary94);
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary: var(--pal-primary80);
    --on-primary: var(--pal-primary20);
    --primary-container: var(--pal-primary30);
    --on-primary-container: var(--pal-primary90);
    --primary-fixed: var(--pal-primary90);
    --on-primary-fixed: var(--pal-primary10);
    --primary-fixed-dim: var(--pal-primary80);
    --on-primary-fixed-variant: var(--pal-primary30);
    --secondary: var(--pal-secondary80);
    --on-secondary: var(--pal-secondary20);
    --secondary-container: var(--pal-secondary30);
    --on-secondary-container: var(--pal-secondary90);
    --secondary-fixed: var(--pal-secondary90);
    --on-secondary-fixed: var(--pal-secondary10);
    --secondary-fixed-dim: var(--pal-secondary80);
    --on-secondary-fixed-variant: var(--pal-secondary30);
    --tertiary: var(--pal-tertiary80);
    --on-tertiary: var(--pal-tertiary20);
    --tertiary-container: var(--pal-tertiary30);
    --on-tertiary-container: var(--pal-tertiary90);
    --tertiary-fixed: var(--pal-tertiary90);
    --on-tertiary-fixed: var(--pal-tertiary10);
    --tertiary-fixed-dim: var(--pal-tertiary80);
    --on-tertiary-fixed-variant: var(--pal-tertiary30);
    --error: var(--pal-error80);
    --error-container: var(--pal-error30);
    --on-error: var(--pal-error20);
    --on-error-container: var(--pal-error90);
    --background: var(--pal-neutral10);
    --on-background: var(--pal-neutral90);
    --outline: var(--pal-neutral-variant60);
    --inverse-on-surface: var(--pal-neutral10);
    --inverse-surface: var(--pal-neutral90);
    --inverse-primary: var(--pal-primary40);
    --shadow: var(--pal-neutral0);
    --surface-tint: var(--pal-primary80);
    --outline-variant: var(--pal-neutral-variant30);
    --scrim: var(--pal-neutral0);
    --surface: var(--pal-neutral6);
    --on-surface: var(--pal-neutral80);
    --surface-variant: var(--pal-neutral-variant30);
    --on-surface-variant: var(--pal-neutral-variant80);
    --surface-container-highest: var(--pal-neutral22);
    --surface-container-high: var(--pal-neutral17);
    --surface-container: var(--pal-neutral12);
    --surface-container-low: var(--pal-neutral10);
    --surface-container-lowest: var(--pal-neutral4);
    --surface-dim: var(--pal-neutral6);
    --surface-bright: var(--pal-neutral24);
    --on-nav-background: var(--pal-primary94);
    --nav-background: var(--pal-primary12);
  }
} */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus {
  --min-font-size: 14px;
  --max-font-size: 20px;
  --full-viewport: 100vw;
  --min-viewport: 300px;
  --min-width: 300;
  --max-viewport: 1920px;
  border: 2px dashed var(--outline-variant);
  background-color: var(--surface-variant);
  color: var(--on-surface-variant);
}

:root,
html {
  font-size: calc(14px + 8 * (100vw - 600px) / 1320);
}

/* .material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
} */
button:focus {
  outline: var(--error) 5px auto;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  color: var(--on-surface);
  background-color: var(--surface);
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 1vmin;
}

::-webkit-scrollbar-corner {
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 16px solid transparent;
} /* Track */
::-webkit-scrollbar-track {
  border-radius: 1vmin;
  background-color: var(--outline-variant);
} /* Handle */
::-webkit-scrollbar-thumb {
  opacity: 0;
  background: var(--secondary);
  border-radius: 1vmin;
}
::-webkit-scrollbar-thumb:hover {
  opactity: 1;
  background: var(--secondary-container);
}

.installButton {
  border: none;
  box-shadow: var(--dp5);
  border-radius: 2vmin;
  flex-grow: 1;
  background-color: var(--secondary);
  display: flex;
  flex-flow: column nowrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 1.5rem;
}

input {
  transition: all 0.5s ease-in;
  resize: both;
  font-family: var(--raleway);
  border: none;
  border-bottom: solid 2px var(--outline);
  border-radius: 1vmin;
  box-sizing: border-box;
  background-color: var(--surface-container-highest);
  color: var(--on-surface);
  outline: none;
}
input:hover {
  box-shadow: var(--dp8);
  border-bottom: solid 3px var(--outline-variant);
}
input:active {
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  border-bottom: solid 3px var(--primary);
}
input:focus {
  border-bottom: solid 3px var(--primary-fixed);
}
