.container {
  transition: all 0.5s;
  display: grid;
  width: 100%;
  gap: 1rem;
  padding: 0.5rem;
  height: 100svh;
  box-sizing: border-box;
  background-color: var(--surface-container);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-auto-flow: row;
  grid-template-areas: "top top top top" "right right right right" "right right right right" "left left left left" "left left left left" "left left left left" "left left left left" "left left left left" "left left left left" "left left left left" "left left left left" "header header header header";
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 48;
}
@media (600px < width < 1200px) {
  .container {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-auto-flow: row;
    grid-template-areas: "sidebar header header header header header header header" "sidebar top top top top top right right" "sidebar left left left left left  right right " "sidebar left left left left left  right right " "sidebar left left left left left  right right " "sidebar left left left left left  right right " "sidebar left left left left left  right right " "sidebar left left left left left  right right " "sidebar left left left left left  right right " "sidebar left left left left left  right right " "sidebar left left left left left  right right " "sidebar left left left left left  right right ";
  }
}
@media (1200px < width) {
  .container {
    grid-template-columns: 5rem repeat(9, minmax(8vw, 1fr));
    grid-template-rows: repeat(10, minmax(8vh, 1fr));
    grid-template-areas: "header top top top top top top top right right" "header left left left left left left left right right" "header left left left left left left left right right" "header left left left left left left left right right" "header left left left left left left left right right" "header left left left left left left left right right" "header left left left left left left left right right" "header left left left left left left left right right" "header left left left left left left left right right" "header left left left left left left left right right";
  }
}

.header {
  display: grid;
  transition: 300ms;
  align-content: space-evenly;
  justify-content: center;
  align-items: stretch;
  justify-items: stretch;
  grid-column: 1/2;
  grid-row: 1/9;
  grid-area: header;
  gap: inherit;
  padding: 0 0.7rem;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
}
.header .navButtons {
  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  grid-column: 1/2;
  grid-row: 1/8;
}

.right {
  flex-wrap: nowrap;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 2vmin;
  padding: 0.5rem;
  align-content: stretch;
  background-color: var(--surface);
  grid-area: right;
  overflow: auto;
  gap: 1rem;
  box-sizing: border-box;
  box-shadow: var(--dp2);
}
.right > * {
  flex: 1 0 auto;
}

.top {
  display: flex;
  flex-flow: row wrap;
  border-radius: 2vmin;
  background-color: var(--surface-dim);
  color: var(--on-surface);
  padding: 2vmin;
  gap: 2vmin;
  justify-content: space-between;
  align-items: stretch;
  grid-area: top;
}
.top:first-child {
  flex: 0 1 40%;
}
@media (width < 600px) {
  .top {
    flex-flow: row nowrap;
  }
}
@media (1200px < width) {
  .top {
    flex-flow: row nowrap;
  }
}

.left, .leftGrid, .leftColumn {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: var(--surface);
  grid-area: left;
  border-radius: 2vmin;
  display: grid;
  padding: 2vmin;
  gap: 2vmin;
  overflow: auto;
}
.leftColumn {
  flex-flow: column wrap;
}
.leftColumn > * {
  flex: 0 1 calc(50% - 4vmin);
}
.leftGrid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.left > *, .leftColumn > *, .leftGrid > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 20%;
  align-self: stretch;
  order: 0;
}
@media (width < 600px) {
  .left, .leftGrid, .leftColumn {
    display: flex;
    flex-flow: column nowrap;
  }
}

.divission {
  height: 100%;
  width: 5px;
  background-color: var(--oultine);
}

.link, .linkActive {
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-items: stretch;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  align-content: center;
  transition: all 0.3s;
  color: var(--on-surface-variant);
}
.link > .icon, .linkActive > .icon {
  text-align: center;
}
.link > .text, .linkActive > .text {
  opacity: 0;
  font-size: 0.7rem;
  font-variation-settings: "wght" 500;
  font-style: var(--label-medium-font-family-style);
  font-weight: var(--label-medium-font-weight);
  letter-spacing: var(--label-medium-tracking);
  line-height: var(--label-medium-height);
  text-transform: var(--label-medium-text-transform);
  text-decoration: var(--label-medium-text-decoration);
}
.linkActive {
  align-items: stretch;
}
.linkActive > .text {
  opacity: 1;
}
.linkActive > .icon {
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  width: 3.5rem;
  border-radius: 1rem;
  padding: 0.2rem 0;
  box-sizing: border-box;
}
.link:hover > .text, .linkActive:hover > .text, .link:focus > .text, .linkActive:focus > .text, .link:active > .text, .linkActive:active > .text {
  opacity: 1;
}
.link:hover > .icon, .linkActive:hover > .icon, .link:focus > .icon, .linkActive:focus > .icon, .link:active > .icon, .linkActive:active > .icon {
  font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 200, "opsz" 40;
}
.link:hover::after, .linkActive:hover::after, .link:focus::after, .linkActive:focus::after, .link:active::after, .linkActive:active::after {
  content: "";
  width: 100%;
  display: block;
  border-radius: 1rem;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: var(--on-primary-container);
}
.link:hover::after, .linkActive:hover::after {
  opacity: 0.08;
}
.link:focus::after, .linkActive:focus::after, .link:active::after, .linkActive:active::after {
  opacity: 0.1;
}

.loader {
  border: 10px solid var(--surface-container-high);
  /* Light grey */
  border-top: 10px solid var(--secondary);
  /* Blue */
  border-radius: 50vmin;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  animation: spin 2s linear infinite;
}
.loader > .loader {
  border: 16px solid var(--secondary-container);
  /* Light grey */
  border-top: 16px solid var(--secondary);
  /* Blue */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.section, .sectionColumn, .sectionRow {
  display: flex;
  border-radius: 2vmin;
  flex: 1;
  gap: 0.5rem;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
  padding: 0.5rem;
}
.sectionRow {
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.sectionColumn {
  gap: 1.5rem;
  flex-flow: column nowrap;
}
.section .label, .sectionRow .label, .sectionColumn .label {
  font-family: var(--play-display);
  flex: 1;
}
.section .titleInput, .sectionRow .titleInput, .sectionColumn .titleInput,
.section .title,
.sectionRow .title,
.sectionColumn .title {
  flex: 2;
}

.segment, .segmentRowWrap, .segmentRow, .segmentColumn, .segmentDetached {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
  padding: 0.2rem;
  flex: 1;
  border-radius: 2vmin;
  gap: 0;
}
.segmentDetached {
  flex-flow: column nowrap;
  position: absolute;
  right: 2rem;
  box-shadow: var(--dp6);
}
.segmentDetached *:first-child {
  border-radius: 2vmin 2vmin 0 0;
}
.segmentDetached *:last-child {
  border-radius: 0 0 2vmin 2vmin;
}
.segmentDetached *:only-child {
  border-radius: 2vmin;
}
.segmentColumn {
  flex-flow: column nowrap;
  box-shadow: var(--dp6);
}
.segmentColumn *:last-child {
  border-radius: 0 0 2vmin 2vmin;
}
.segmentColumn *:first-child {
  border-radius: 2vmin 2vmin 0 0;
}
.segmentColumn *:only-child {
  border-radius: 2vmin;
}
@media (width < 600px) {
  .segmentColumn {
    flex-flow: row wrap;
  }
}
.segmentRow {
  flex-flow: row nowrap;
  justify-content: space-around;
}
.segmentRow *:first-child {
  border-radius: 2vmin 0 0 2vmin;
}
.segmentRow *:last-child {
  border-radius: 0 2vmin 2vmin 0;
}
.segmentRow *:only-child {
  border-radius: 2vmin;
}
.segmentRowWrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  justify-items: baseline;
  align-items: stretch;
  align-content: stretch;
}
.segmentRowWrap *:first-child {
  border-radius: 2vmin 0 0 2vmin;
}
.segmentRowWrap *:last-child {
  border-radius: 0 2vmin 2vmin 0;
}
.segmentRowWrap *:only-child {
  border-radius: 2vmin;
}

.button, .buttonChip, .buttonActuacion, .buttonHome, .buttonModal, .buttonDrawerMenu, .buttonBackwards, .buttonForward, .buttonPassiveCategory, .buttonActiveCategory, .buttonEdit {
  border: none;
  box-sizing: border-box;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  flex-flow: column nowrap;
  justify-items: stretch;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  transition: all 0.3s;
}
.button > .icon, .buttonChip > .icon, .buttonActuacion > .icon, .buttonHome > .icon, .buttonModal > .icon, .buttonDrawerMenu > .icon, .buttonBackwards > .icon, .buttonForward > .icon, .buttonPassiveCategory > .icon, .buttonActiveCategory > .icon, .buttonEdit > .icon {
  font-size: 1.1rem;
}
.button > .text, .buttonChip > .text, .buttonActuacion > .text, .buttonHome > .text, .buttonModal > .text, .buttonDrawerMenu > .text, .buttonBackwards > .text, .buttonForward > .text, .buttonPassiveCategory > .text, .buttonActiveCategory > .text, .buttonEdit > .text {
  font-family: var(--raleway);
  word-wrap: break-word;
  word-break: break-all;
  font-style: var(--label-medium-font-family-style);
  font-weight: var(--label-medium-font-weight);
  font-size: var(--label-medium-font-size);
  letter-spacing: var(--label-medium-tracking);
  line-height: var(--label-medium-height);
  text-transform: var(--label-medium-text-transform);
  text-decoration: var(--label-medium-text-decoration);
}
@media (600px < width < 1200px) {
  .button, .buttonChip, .buttonActuacion, .buttonHome, .buttonModal, .buttonDrawerMenu, .buttonBackwards, .buttonForward, .buttonPassiveCategory, .buttonActiveCategory, .buttonEdit {
    flex-flow: row nowrap;
  }
}
.buttonEdit {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
}
.buttonActiveCategory {
  flex-flow: column nowrap;
  flex: 2;
  background-color: var(--secondary-container);
}
.buttonActiveCategory > .icon {
  color: var(--on-secondary-container);
}
.buttonActiveCategory > .text {
  color: var(--on-surface);
}
.buttonPassiveCategory {
  flex: 1;
  flex-flow: column nowrap;
  background-color: var(--surface-container-high);
  color: var(--secondary);
}
.buttonPassiveCategory > .icon {
  color: var(--secondary);
}
.buttonPassiveCategory > .text {
  color: var(--on-surface);
}
.buttonForward {
  background-color: var(--primary-container);
  color: var(--on-primary-container);
}
.buttonForward > .icon, .buttonForward > .text {
  color: var(--on-primary-container);
}
.buttonBackwards {
  background-color: var(--primary-container);
  color: var(--on-primary-container);
}
.buttonBackwards > .icon, .buttonBackwards > .text {
  color: var(--on-primary-container);
}
.buttonDrawerMenu {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: rgba(0, 0, 0, 0);
}
.buttonDrawerMenu > .icon, .buttonDrawerMenu > .text {
  color: var(--on-surface-variant);
}
.buttonModal {
  grid-row: 2/3;
  background-color: var(--primary-container);
}
.buttonModal > .icon, .buttonModal > .text {
  color: var(--on-primary-container);
}
.buttonHome {
  box-shadow: var(--dp2);
  background-color: var(--primary);
  color: var(--on-primary);
}
.buttonHome > .icon, .buttonHome > .text {
  color: var(--on-primary);
}
.buttonActuacion {
  flex: 0 1 auto;
}
.buttonChip {
  height: minmax(2rem, 3rem);
  flex: 0 1 auto;
  box-sizing: border-box;
}

/*# sourceMappingURL=layout.module.css.map */
