.container, .containerDisabled, .containerEnabled {
  position: relative;
  box-sizing: border-box;
  flex: 1;
  border-radius: var(--shape-corner-medium);
  gap: 1rem;
  padding: 1rem 0.5rem;
  display: flex;
  flex-flow: column nowrap;
}
.container:before, .containerDisabled:before, .containerEnabled:before {
  background-color: var(--on-surface);
  border-radius: var(--shape-corner-medium);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  opacity: 0;
}
.containerEnabled {
  background-color: var(--surface-container-low);
  box-shadow: var(--elevation-1);
}
.containerDisabled {
  background-color: var(--surface-variant);
  box-shadow: var(--elevation-0);
  opacity: 0.38;
}
.container:hover, .containerEnabled:hover, .containerDisabled:hover {
  box-shadow: var(--elevation-2);
}
.container:hover:before, .containerEnabled:hover:before, .containerDisabled:hover:before {
  opacity: 0.08;
}
.container:focus, .containerEnabled:focus, .containerDisabled:focus {
  border: 0.3rem solid var(--secondary);
  box-shadow: var(--elevation-1);
}
.container:focus:before, .containerEnabled:focus:before, .containerDisabled:focus:before {
  opacity: 0.08;
}
