.segmentedButtons, .segmentedButtonsColumn, .segmentedButtonsRow {
  display: flex;
  flex: 1;
  gap: 0;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
  padding: 0;
}
@media (width < 600px) {
  .segmentedButtons, .segmentedButtonsColumn, .segmentedButtonsRow {
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
  }
}
.segmentedButtonsRow {
  flex-flow: row nowrap;
}
.segmentedButtonsRow .button:first-child, .segmentedButtonsRow .buttonCategoryActive:first-child, .segmentedButtonsRow .buttonCategoryPasive:first-child {
  border-radius: var(--shape-corner-large-start);
}
.segmentedButtonsRow .button:last-child, .segmentedButtonsRow .buttonCategoryActive:last-child, .segmentedButtonsRow .buttonCategoryPasive:last-child {
  border-radius: var(--shape-corner-large-end);
}
.segmentedButtonsRow .button:only-child, .segmentedButtonsRow .buttonCategoryActive:only-child, .segmentedButtonsRow .buttonCategoryPasive:only-child {
  border-radius: var(--shape-corner-large);
}
.segmentedButtonsColumn {
  flex-flow: column nowrap;
}
.segmentedButtonsColumn .button:first-child, .segmentedButtonsColumn .buttonCategoryActive:first-child, .segmentedButtonsColumn .buttonCategoryPasive:first-child {
  border-radius: var(--shape-corner-large-top);
}
.segmentedButtonsColumn .button:last-child, .segmentedButtonsColumn .buttonCategoryActive:last-child, .segmentedButtonsColumn .buttonCategoryPasive:last-child {
  border-radius: var(--shape-corner-large-bottom);
}
.segmentedButtonsColumn .button:only-child, .segmentedButtonsColumn .buttonCategoryActive:only-child, .segmentedButtonsColumn .buttonCategoryPasive:only-child {
  border-radius: var(--shape-corner-large);
}
@media (width < 600px) {
  .segmentedButtonsColumn .button:first-child, .segmentedButtonsColumn .buttonCategoryActive:first-child, .segmentedButtonsColumn .buttonCategoryPasive:first-child {
    border-radius: var(--shape-corner-large-start);
  }
  .segmentedButtonsColumn .button:last-child, .segmentedButtonsColumn .buttonCategoryActive:last-child, .segmentedButtonsColumn .buttonCategoryPasive:last-child {
    border-radius: var(--shape-corner-large-end);
  }
}

.button, .buttonCategoryActive, .buttonCategoryPasive {
  border: 0.07rem solid var(--outline);
  box-sizing: border-box;
  padding: 0.5rem;
  flex: 1;
  border-radius: none;
  display: flex;
  flex-flow: row nowrap;
  justify-items: stretch;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  transition: all 0.3s;
  position: relative;
}
.button:before, .buttonCategoryActive:before, .buttonCategoryPasive:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  border-radius: inherit;
}
.button:hover:before, .buttonCategoryActive:hover:before, .buttonCategoryPasive:hover:before {
  opacity: 0.08;
}
.button:focus:before, .buttonCategoryActive:focus:before, .buttonCategoryPasive:focus:before, .button:active:before, .buttonCategoryActive:active:before, .buttonCategoryPasive:active:before {
  opacity: 0.1;
}
.buttonCategoryPasive {
  color: var(--on-surface);
}
.buttonCategoryPasive:hover:before, .buttonCategoryPasive:focus:before, .buttonCategoryPasive:active:before {
  background-color: var(--on-surface);
}
.buttonCategoryActive {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
}
.buttonCategoryActive:hover:before, .buttonCategoryActive:focus:before, .buttonCategoryActive:active:before {
  background-color: var(--on-secondary-container);
}
