.title {
  color: var(--secondary);
  text-align: right;
}

.content {
  text-align: center;
  background-color: var(--surface-container);
  padding: 2cqmin;
  border-radius: 2cqmin;
}

.button, .buttonEjecucion, .buttonOrigen {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  text-align: center;
  padding: 0.5rem;
  gap: 0.5rem;
  width: 100%;
  flex: 1;
  box-sizing: border-box;
  border: 0.2 rem solid var(--outline-variant);
  border-radius: var(--shape-corner-medium);
  position: relative;
  justify-items: center;
}
.button:after, .buttonEjecucion:after, .buttonOrigen:after {
  transition: all 0.5s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--shape-corner-medium);
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  opacity: 0.02;
}
.button .text, .buttonEjecucion .text, .buttonOrigen .text {
  font-family: var(--raleway);
}
.buttonOrigen {
  background-color: var(--surface-container-low);
  box-shadow: var(--dp1);
}
.buttonOrigen .text,
.buttonOrigen .icon {
  color: var(--on-surface);
}
.buttonOrigen:after {
  background-color: var(--on-surface);
}
.buttonOrigen:hover .text,
.buttonOrigen:hover .icon {
  color: var(--secondary);
}
.buttonOrigen:hover:after {
  background-color: var(--secondary);
}
.buttonOrigen:focus, .buttonOrigen:active {
  background-color: var(--secondary-container);
}
.buttonOrigen:focus .text,
.buttonOrigen:focus .icon, .buttonOrigen:active .text,
.buttonOrigen:active .icon {
  color: var(--on-secondary-container);
}
.buttonOrigen:focus:after, .buttonOrigen:active:after {
  background-color: var(--on-secondary-container);
}
.buttonEjecucion {
  background-color: var(--surface-container-high);
}
.buttonEjecucion .text,
.buttonEjecucion .icon {
  color: var(--on-surface);
}
.buttonEjecucion:hover {
  box-shadow: var(--elevation-4);
}
.buttonEjecucion:hover .text,
.buttonEjecucion:hover .icon {
  color: var(--on-primary);
}
.buttonEjecucion:hover:after {
  background-color: var(--on-primary);
  opacity: 0.8;
}
.buttonEjecucion:focus, .buttonEjecucion:active {
  background-color: var(--primary-container);
}
.buttonEjecucion:focus .text,
.buttonEjecucion:focus .icon, .buttonEjecucion:active .text,
.buttonEjecucion:active .icon {
  color: var(--on-primary-container);
}
.buttonEjecucion:focus:after, .buttonEjecucion:active:after {
  background-color: var(--on-primary-container);
}
.button:hover, .buttonOrigen:hover, .buttonEjecucion:hover {
  box-shadow: var(--dp6);
}
.button:hover > .icon, .buttonOrigen:hover > .icon, .buttonEjecucion:hover > .icon {
  font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 200, "opsz" 40;
}
.button:focus, .buttonOrigen:focus, .buttonEjecucion:focus, .button:active, .buttonOrigen:active, .buttonEjecucion:active {
  box-shadow: var(--dp1);
}
.button:focus:after, .buttonOrigen:focus:after, .buttonEjecucion:focus:after, .button:active:after, .buttonOrigen:active:after, .buttonEjecucion:active:after {
  opacity: 0.1;
}
.button:focus > .icon, .buttonOrigen:focus > .icon, .buttonEjecucion:focus > .icon, .button:active > .icon, .buttonOrigen:active > .icon, .buttonEjecucion:active > .icon {
  font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 200, "opsz" 40;
}
