:root {
  --md-source: #80a4ed;
  /* primary */
  --pal-primary0: #000000;
  --pal-primary4: #000d28;
  --pal-primary5: #00102d;
  --pal-primary6: #001836;
  --pal-primary8: #001231;
  --pal-primary10: #001a41;
  --pal-primary12: #001e49;
  --pal-primary17: #00285d;
  --pal-primary20: #002e69;
  --pal-primary22: #003271;
  --pal-primary24: #00377a;
  --pal-primary25: #00397e;
  --pal-primary30: #0e448e;
  --pal-primary35: #21509b;
  --pal-primary40: #315da8;
  --pal-primary50: #4c76c3;
  --pal-primary60: #6790de;
  --pal-primary70: #82abfb;
  --pal-primary80: #adc6ff;
  --pal-primary87: #cbdaff;
  --pal-primary90: #d8e2ff;
  --pal-primary92: #e0e8ff;
  --pal-primary94: #e9edff;
  --pal-primary95: #edf0ff;
  --pal-primary96: #f1f3ff;
  --pal-primary98: #f9f9ff;
  --pal-primary99: #fefbff;
  --pal-primary100: #ffffff;
  /* secondary */
  --pal-secondary0: #000000;
  --pal-secondary4: #140039;
  --pal-secondary5: #170040;
  --pal-secondary6: #1a0047;
  --pal-secondary10: #23005b;
  --pal-secondary12: #280561;
  --pal-secondary17: #32156b;
  --pal-secondary20: #391e72;
  --pal-secondary22: #3e2376;
  --pal-secondary24: #42287b;
  --pal-secondary25: #442a7d;
  --pal-secondary30: #50378a;
  --pal-secondary35: #5c4396;
  --pal-secondary40: #684fa3;
  --pal-secondary50: #8268be;
  --pal-secondary60: #9c82da;
  --pal-secondary70: #b79cf7;
  --pal-secondary80: #d1bcff;
  --pal-secondary87: #e2d3ff;
  --pal-secondary90: #e9ddff;
  --pal-secondary92: #eee4ff;
  --pal-secondary94: #f3eaff;
  --pal-secondary95: #f6edff;
  --pal-secondary96: #f9f1ff;
  --pal-secondary98: #fef7ff;
  --pal-secondary99: #fffbff;
  --pal-secondary100: #ffffff;
  /* tertiary */
  --pal-tertiary0: #000000;
  --pal-tertiary4: #1d002b;
  --pal-tertiary5: #220031;
  --pal-tertiary6: #250036;
  --pal-tertiary10: #320047;
  --pal-tertiary12: #38004f;
  --pal-tertiary17: #440e5b;
  --pal-tertiary20: #4b1662;
  --pal-tertiary22: #501c67;
  --pal-tertiary24: #55216c;
  --pal-tertiary25: #58236e;
  --pal-tertiary30: #64307b;
  --pal-tertiary35: #713c87;
  --pal-tertiary40: #7e4894;
  --pal-tertiary50: #9961af;
  --pal-tertiary60: #b57acb;
  --pal-tertiary70: #d195e7;
  --pal-tertiary80: #ebb2ff;
  --pal-tertiary87: #f4cdff;
  --pal-tertiary90: #f8d8ff;
  --pal-tertiary92: #fae0ff;
  --pal-tertiary94: #fde7ff;
  --pal-tertiary95: #feebff;
  --pal-tertiary96: #ffefff;
  --pal-tertiary98: #fff7fb;
  --pal-tertiary99: #fffbff;
  --pal-tertiary100: #ffffff;
  /* neutral */
  --pal-neutral0: #000000;
  --pal-neutral4: #0f0e09;
  --pal-neutral5: #12110c;
  --pal-neutral6: #14130e;
  --pal-neutral10: #1d1c16;
  --pal-neutral12: #21201a;
  --pal-neutral17: #2b2a24;
  --pal-neutral20: #32302b;
  --pal-neutral22: #36352f;
  --pal-neutral24: #3b3933;
  --pal-neutral25: #3d3b35;
  --pal-neutral30: #484740;
  --pal-neutral35: #54524c;
  --pal-neutral40: #605e57;
  --pal-neutral50: #797770;
  --pal-neutral60: #939089;
  --pal-neutral70: #aeaba3;
  --pal-neutral80: #cac6be;
  --pal-neutral87: #dedad1;
  --pal-neutral90: #e6e2d9;
  --pal-neutral92: #ece8df;
  --pal-neutral94: #f2ede4;
  --pal-neutral95: #f5f0e7;
  --pal-neutral96: #f8f3ea;
  --pal-neutral98: #fdf9f0;
  --pal-neutral99: #fffbff;
  --pal-neutral100: #ffffff;
  /* neutral-variant */
  --pal-neutral-variant0: #000000;
  --pal-neutral-variant4: #0a0f14;
  --pal-neutral-variant5: #0d1117;
  --pal-neutral-variant6: #0f141a;
  --pal-neutral-variant10: #171c22;
  --pal-neutral-variant12: #1b2026;
  --pal-neutral-variant17: #262a31;
  --pal-neutral-variant20: #2c3137;
  --pal-neutral-variant22: #30353c;
  --pal-neutral-variant24: #353940;
  --pal-neutral-variant25: #373c42;
  --pal-neutral-variant30: #42474e;
  --pal-neutral-variant35: #4e535a;
  --pal-neutral-variant40: #5a5f66;
  --pal-neutral-variant50: #73777f;
  --pal-neutral-variant60: #8d9199;
  --pal-neutral-variant70: #a7abb4;
  --pal-neutral-variant80: #c3c7cf;
  --pal-neutral-variant87: #d6dae3;
  --pal-neutral-variant90: #dfe2eb;
  --pal-neutral-variant92: #e4e8f1;
  --pal-neutral-variant94: #eaeef7;
  --pal-neutral-variant95: #edf1fa;
  --pal-neutral-variant96: #f0f4fc;
  --pal-neutral-variant98: #f8f9ff;
  --pal-neutral-variant99: #fdfcff;
  --pal-neutral-variant100: #ffffff;
  /* error */
  --pal-error0: #000000;
  --pal-error4: #280001;
  --pal-error5: #2d0001;
  --pal-error6: #310001;
  --pal-error10: #410002;
  --pal-error12: #490002;
  --pal-error17: #5c0004;
  --pal-error20: #690005;
  --pal-error22: #710005;
  --pal-error24: #790006;
  --pal-error25: #7e0007;
  --pal-error30: #93000a;
  --pal-error35: #a80710;
  --pal-error40: #ba1a1a;
  --pal-error50: #de3730;
  --pal-error60: #ff5449;
  --pal-error70: #ff897d;
  --pal-error80: #ffb4ab;
  --pal-error87: #ffcfc9;
  --pal-error90: #ffdad6;
  --pal-error92: #ffe2de;
  --pal-error94: #ffe9e6;
  --pal-error95: #ffedea;
  --pal-error96: #fff0ee;
  --pal-error98: #fff8f7;
  --pal-error99: #fffbff;
  --pal-error100: #ffffff; /* light */ /* --secondary: var(--pal-secondary40);  --on-secondary: var(--pal-secondary100);  --secondary-container: var(--pal-secondary90);  --on-secondary-container: var(--pal-secondary10);  --primary: var(--pal-primary40);  --on-primary: var(--pal-tertiary100);  --primary-container: var(--pal-primary90);  --on-primary-container: var(--pal-primary10);  --tertiary: var(--pal-tertiary40);  --on-tertiary: var(--pal-tertiary100);  --tertiary-container: var(--pal-tertiary90);  --on-tertiary-container: var(--pal-tertiary10);  --error: var(--pal-error40);  --error-container: var(--pal-error90);  --on-error: var(--pal-secondary100);  --on-error-container: var(--pal-error10);  --background: var(--pal-neutral99);  --on-background: var(--pal-neutral10);  --surface: var(--pal-neutral95);  --on-surface: var(--pal-neutral10);  --surface-variant: var(--pal-neutral-variant90);  --on-surface-variant: var(--pal-neutral-variant30);  --outline: var(--pal-neutral-variant50);  --inverse-on-surface: var(--pal-neutral95);  --inverse-surface: var(--pal-neutral20);  --inverse-secondary: var(--pal-secondary80);  --shadow: var(--pal-neutral0);  --surface-tint: var(--pal-secondary40);  --outline-variant: var(--pal-neutral-variant80);  --scrim: var(--pal-neutral0); */ /* dark */ /* --secondary-dark: var(--pal-secondary80);  --on-secondary-dark: var(--pal-secondary20);  --secondary-container-dark: var(--pal-secondary30);  --on-secondary-container-dark: var(--pal-secondary90);  --primary-dark: var(--pal-primary80);  --on-primary-dark: var(--pal-primary20);  --primary-container-dark: var(--pal-primary30);  --on-primary-container-dark: var(--pal-primary90);  --tertiary-dark: var(--pal-tertiary80);  --on-tertiary-dark: var(--pal-tertiary20);  --tertiary-container-dark: var(--pal-tertiary30);  --on-tertiary-container-dark: var(--pal-tertiary90);  --error-dark: var(--pal-error80);  --error-container-dark: var(--pal-error30);  --on-error-dark: var(--pal-error20);  --on-error-container-dark: var(--pal-error90);  --background-dark: var(--pal-neutral0);  --on-background-dark: var(--pal-neutral90);  --surface-dark: var(--pal-neutral10);  --on-surface-dark: var(--pal-neutral90);  --surface-variant-dark: var(--pal-neutral-variant30);  --on-surface-variant-dark: var(--pal-neutral-variant80);  --outline-dark: var(--pal-neutral-variant60);  --inverse-on-surface-dark: var(--pal-neutral10);  --inverse-surface-dark: var(--pal-neutral90);  --inverse-secondary-dark: var(--pal-secondary40);  --shadow-dark: var(--pal-neutral0);  --surface-tint-dark: var(--pal-secondary80);  --outline-variant-dark: var(--pal-neutral-variant30);  --scrim-dark: var(--pal-neutral0); */ /* Custom Colors */
  --md-custom-color-Custom-Color-1: #008471;
  --dp0: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  --dp1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --dp2: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --dp3: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  --dp4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  --dp5: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  --dp6: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --dp7: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
    0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  --dp8: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  --dp9: 0px 5px 6px -3px rgba(0, 0, 0, 0.2),
    0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
  --dp10: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
    0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  --dp11: 0px 6px 7px -4px rgba(0, 0, 0, 0.2),
    0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
  --dp12: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  --dp13: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
  --dp14: 0px 7px 9px -4px rgba(0, 0, 0, 0.2),
    0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
  --dp15: 0px 8px 9px -5px rgba(0, 0, 0, 0.2),
    0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
  --dp16: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  --dp17: 0px 8px 11px -5px rgba(0, 0, 0, 0.2),
    0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
  --dp18: 0px 9px 11px -5px rgba(0, 0, 0, 0.2),
    0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
  --dp19: 0px 9px 12px -6px rgba(0, 0, 0, 0.2),
    0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
  --dp20: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
  --dp21: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
  --dp22: 0px 10px 14px -6px rgba(0, 0, 0, 0.2),
    0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
  --dp23: 0px 11px 14px -7px rgba(0, 0, 0, 0.2),
    0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
  --dp24: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  --minFontSize: 16px;
  --maxFontSize: 22px;
  --scaler: 6vw;
}
