:root {
  --md-source: #8097eb;
  /* primary */
  --pal-primary0: #000000;
  --pal-primary4: #000a31;
  --pal-primary5: #000d37;
  --pal-primary6: #000f3d;
  --pal-primary10: #00164f;
  --pal-primary12: #001958;
  --pal-primary17: #002270;
  --pal-primary20: #082978;
  --pal-primary22: #102e7d;
  --pal-primary24: #173381;
  --pal-primary25: #1a3584;
  --pal-primary30: #284190;
  --pal-primary35: #354d9c;
  --pal-primary40: #425aa9;
  --pal-primary50: #5b73c4;
  --pal-primary60: #758de0;
  --pal-primary70: #90a7fd;
  --pal-primary80: #b6c4ff;
  --pal-primary87: #d1d8ff;
  --pal-primary90: #dce1ff;
  --pal-primary92: #e4e7ff;
  --pal-primary94: #ebedff;
  --pal-primary95: #eff0ff;
  --pal-primary96: #f3f2ff;
  --pal-primary98: #faf8ff;
  --pal-primary99: #fefbff;
  --pal-primary100: #ffffff;
  /* secondary */
  --pal-secondary0: #000000;
  --pal-secondary4: #000e24;
  --pal-secondary5: #001129;
  --pal-secondary6: #00132e;
  --pal-secondary10: #001b3c;
  --pal-secondary12: #001f43;
  --pal-secondary17: #002a56;
  --pal-secondary20: #003062;
  --pal-secondary22: #003469;
  --pal-secondary24: #003971;
  --pal-secondary25: #003b75;
  --pal-secondary30: #00468a;
  --pal-secondary35: #12529a;
  --pal-secondary40: #255ea7;
  --pal-secondary50: #4478c1;
  --pal-secondary60: #6092dd;
  --pal-secondary70: #7bacfa;
  --pal-secondary80: #a8c8ff;
  --pal-secondary87: #c8dbff;
  --pal-secondary90: #d5e3ff;
  --pal-secondary92: #dee8ff;
  --pal-secondary94: #e7eeff;
  --pal-secondary95: #ecf1ff;
  --pal-secondary96: #f0f3ff;
  --pal-secondary98: #f9f9ff;
  --pal-secondary99: #fdfbff;
  --pal-secondary100: #ffffff;
  /* tertiary */
  --pal-tertiary0: #000000;
  --pal-tertiary4: #26000a;
  --pal-tertiary5: #2c000c;
  --pal-tertiary6: #30000e;
  --pal-tertiary10: #3f0015;
  --pal-tertiary12: #470018;
  --pal-tertiary17: #5a0021;
  --pal-tertiary20: #660027;
  --pal-tertiary22: #6e002a;
  --pal-tertiary24: #75052e;
  --pal-tertiary25: #780931;
  --pal-tertiary30: #88193c;
  --pal-tertiary35: #982647;
  --pal-tertiary40: #a83252;
  --pal-tertiary50: #c84b6a;
  --pal-tertiary60: #e96483;
  --pal-tertiary70: #ff869f;
  --pal-tertiary80: #ffb2bf;
  --pal-tertiary87: #ffced5;
  --pal-tertiary90: #ffd9de;
  --pal-tertiary92: #ffe1e4;
  --pal-tertiary94: #ffe9eb;
  --pal-tertiary95: #ffecee;
  --pal-tertiary96: #fff0f1;
  --pal-tertiary98: #fff8f7;
  --pal-tertiary99: #fffbff;
  --pal-tertiary100: #ffffff;
  /* neutral */
  --pal-neutral0: #000000;
  --pal-neutral4: #0e0e11;
  --pal-neutral5: #101114;
  --pal-neutral6: #131316;
  --pal-neutral10: #1b1b1f;
  --pal-neutral12: #1f1f23;
  --pal-neutral17: #292a2d;
  --pal-neutral20: #303034;
  --pal-neutral22: #343438;
  --pal-neutral24: #39393c;
  --pal-neutral25: #3b3b3f;
  --pal-neutral30: #47464a;
  --pal-neutral35: #525256;
  --pal-neutral40: #5e5e62;
  --pal-neutral50: #77767a;
  --pal-neutral60: #919094;
  --pal-neutral70: #acaaaf;
  --pal-neutral80: #c8c6ca;
  --pal-neutral87: #dbd9de;
  --pal-neutral90: #e4e1e6;
  --pal-neutral92: #eae7ec;
  --pal-neutral94: #efedf1;
  --pal-neutral95: #f2f0f4;
  --pal-neutral96: #f5f3f7;
  --pal-neutral98: #fbf8fd;
  --pal-neutral99: #fefbff;
  --pal-neutral100: #ffffff;
  /* neutral-variant */
  --pal-neutral-variant0: #000000;
  --pal-neutral-variant4: #0c0e15;
  --pal-neutral-variant5: #0f1118;
  --pal-neutral-variant6: #11131a;
  --pal-neutral-variant10: #1a1b23;
  --pal-neutral-variant12: #1e1f27;
  --pal-neutral-variant17: #282a31;
  --pal-neutral-variant20: #2f3038;
  --pal-neutral-variant22: #33343c;
  --pal-neutral-variant24: #373941;
  --pal-neutral-variant25: #3a3b43;
  --pal-neutral-variant30: #45464f;
  --pal-neutral-variant35: #51525b;
  --pal-neutral-variant40: #5d5e67;
  --pal-neutral-variant50: #767680;
  --pal-neutral-variant60: #90909a;
  --pal-neutral-variant70: #aaaab4;
  --pal-neutral-variant80: #c6c6d0;
  --pal-neutral-variant87: #d9d9e4;
  --pal-neutral-variant90: #e2e1ec;
  --pal-neutral-variant92: #e8e7f2;
  --pal-neutral-variant94: #eeedf8;
  --pal-neutral-variant95: #f0f0fa;
  --pal-neutral-variant96: #f3f2fd;
  --pal-neutral-variant98: #faf8ff;
  --pal-neutral-variant99: #fefbff;
  --pal-neutral-variant100: #ffffff;
  /* error */
  --pal-error0: #000000;
  --pal-error4: #280001;
  --pal-error5: #2d0001;
  --pal-error6: #310001;
  --pal-error10: #410002;
  --pal-error12: #490002;
  --pal-error17: #5c0004;
  --pal-error20: #690005;
  --pal-error22: #710005;
  --pal-error24: #790006;
  --pal-error25: #7e0007;
  --pal-error30: #93000a;
  --pal-error35: #a80710;
  --pal-error40: #ba1a1a;
  --pal-error50: #de3730;
  --pal-error60: #ff5449;
  --pal-error70: #ff897d;
  --pal-error80: #ffb4ab;
  --pal-error87: #ffcfc9;
  --pal-error90: #ffdad6;
  --pal-error92: #ffe2de;
  --pal-error94: #ffe9e6;
  --pal-error95: #ffedea;
  --pal-error96: #fff0ee;
  --pal-error98: #fff8f7;
  --pal-error99: #fffbff;
  --pal-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #1760a5;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #d3e3ff;
  --md-sys-color-on-primary-container-light: #001c39;
  --md-sys-color-primary-fixed-light: #d3e3ff;
  --md-sys-color-on-primary-fixed-light: #001c39;
  --md-sys-color-primary-fixed-dim-light: #a3c9ff;
  --md-sys-color-on-primary-fixed-variant-light: #004882;
  --md-sys-color-secondary-light: #545f70;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #d8e3f8;
  --md-sys-color-on-secondary-container-light: #111c2b;
  --md-sys-color-secondary-fixed-light: #d8e3f8;
  --md-sys-color-on-secondary-fixed-light: #111c2b;
  --md-sys-color-secondary-fixed-dim-light: #bcc7db;
  --md-sys-color-on-secondary-fixed-variant-light: #3c4758;
  --md-sys-color-tertiary-light: #6d5677;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #f5d9ff;
  --md-sys-color-on-tertiary-container-light: #261430;
  --md-sys-color-tertiary-fixed-light: #f5d9ff;
  --md-sys-color-on-tertiary-fixed-light: #261430;
  --md-sys-color-tertiary-fixed-dim-light: #d9bde3;
  --md-sys-color-on-tertiary-fixed-variant-light: #543f5e;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fdfcff;
  --md-sys-color-on-background-light: #1a1c1e;
  --md-sys-color-outline-light: #73777f;
  --md-sys-color-inverse-on-surface-light: #f1f0f4;
  --md-sys-color-inverse-surface-light: #2f3033;
  --md-sys-color-inverse-primary-light: #a3c9ff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #1760a5;
  --md-sys-color-outline-variant-light: #c3c6cf;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #faf9fd;
  --md-sys-color-on-surface-light: #1a1c1e;
  --md-sys-color-surface-variant-light: #dfe2eb;
  --md-sys-color-on-surface-variant-light: #43474e;
  --md-sys-color-surface-container-highest-light: #e3e2e6;
  --md-sys-color-surface-container-high-light: #e8e8eb;
  --md-sys-color-surface-container-light: #eeedf1;
  --md-sys-color-surface-container-low-light: #f4f3f7;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #dad9dd;
  --md-sys-color-surface-bright-light: #faf9fd;
  /* dark */
  --md-sys-color-primary-dark: #a3c9ff;
  --md-sys-color-on-primary-dark: #00315c;
  --md-sys-color-primary-container-dark: #004882;
  --md-sys-color-on-primary-container-dark: #d3e3ff;
  --md-sys-color-primary-fixed-dark: #d3e3ff;
  --md-sys-color-on-primary-fixed-dark: #001c39;
  --md-sys-color-primary-fixed-dim-dark: #a3c9ff;
  --md-sys-color-on-primary-fixed-variant-dark: #004882;
  --md-sys-color-secondary-dark: #bcc7db;
  --md-sys-color-on-secondary-dark: #263141;
  --md-sys-color-secondary-container-dark: #3c4758;
  --md-sys-color-on-secondary-container-dark: #d8e3f8;
  --md-sys-color-secondary-fixed-dark: #d8e3f8;
  --md-sys-color-on-secondary-fixed-dark: #111c2b;
  --md-sys-color-secondary-fixed-dim-dark: #bcc7db;
  --md-sys-color-on-secondary-fixed-variant-dark: #3c4758;
  --md-sys-color-tertiary-dark: #d9bde3;
  --md-sys-color-on-tertiary-dark: #3c2946;
  --md-sys-color-tertiary-container-dark: #543f5e;
  --md-sys-color-on-tertiary-container-dark: #f5d9ff;
  --md-sys-color-tertiary-fixed-dark: #f5d9ff;
  --md-sys-color-on-tertiary-fixed-dark: #261430;
  --md-sys-color-tertiary-fixed-dim-dark: #d9bde3;
  --md-sys-color-on-tertiary-fixed-variant-dark: #543f5e;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1a1c1e;
  --md-sys-color-on-background-dark: #e3e2e6;
  --md-sys-color-outline-dark: #8d9199;
  --md-sys-color-inverse-on-surface-dark: #1a1c1e;
  --md-sys-color-inverse-surface-dark: #e3e2e6;
  --md-sys-color-inverse-primary-dark: #1760a5;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #a3c9ff;
  --md-sys-color-outline-variant-dark: #43474e;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #121316;
  --md-sys-color-on-surface-dark: #c6c6ca;
  --md-sys-color-surface-variant-dark: #43474e;
  --md-sys-color-on-surface-variant-dark: #c3c6cf;
  --md-sys-color-surface-container-highest-dark: #333538;
  --md-sys-color-surface-container-high-dark: #292a2d;
  --md-sys-color-surface-container-dark: #1e2022;
  --md-sys-color-surface-container-low-dark: #1a1c1e;
  --md-sys-color-surface-container-lowest-dark: #0d0e11;
  --md-sys-color-surface-dim-dark: #121316;
  --md-sys-color-surface-bright-dark: #38393c;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.5px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.4px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.1px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.5px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.5px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.1px;
}
