@media screen and (prefers-color-scheme: light) {
  @import "theme/colors.light";
  .container {
    background-color: $primary-container;
    color: $on-primary-container;
    box-shadow: $dp1;
    .navbar {
      background-color: $primary;
      color: $on-primary;
      box-shadow: $dp4;
    }
  }
}
@media screen and  (prefers-color-scheme: dark) {
  @import "theme/colors.dark";
  .container {
    background-color: $background;
    color: $on-background;
    .navbar {
      background-color: $primary-container;
      color: $on-primary-container;
    }
  }
}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1em;
  grid-auto-flow: row;
  max-height: 100vh;
  max-width: 100vw;
  grid-template-areas:
    "navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar"
    ". . . . . . . . . . . ."
    ". . main main main main main main main main . ."
    ". . main main main main main main main main . ."
    ". . main main main main main main main main . ."
    ". . main main main main main main main main . ."
    ". . main main main main main main main main . ."
    ". . main main main main main main main main . ."
    ". . main main main main main main main main . ."
    "footer footer footer footer footer footer footer footer footer footer footer footer";

  .navbar {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "menu . search search . extra . . . .";
    grid-area: navbar;
    position: sticky;
    top: 0;
    left: 0;

    .menu {
      justify-self: center;
      align-self: center;
      grid-area: menu;
    }

    .extra {
      grid-area: extra;
    }

    .search {
      justify-self: stretch;
      align-self: center;
      grid-area: search;
    }
    & > a {
      background-color: var(--md-sys-color-primary);
      color: var(--md-sys-color-on-primary);
    }
  }
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . .";
    grid-area: main;
  }

  .footer {
    grid-area: footer;
  }
}
