@import "mixins";

.card {
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
  box-shadow: var(--md-elevation-6);
  border-radius: 5rem;
}

.base {
  @include grid-container(repeat(12, 1fr));
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  box-shadow: var(--md-elevation-1);
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    "header header header header header header header header header header header header"
    ". . . . . . . . . . . ."
    ". . main main main main main main main main . ."
    ". . main main main main main main main main . ."
    ". . main main main main main main main main . ."
    ". . main main main main main main main main . ."
    ". . main main main main main main main main . ."
    ". . main main main main main main main main . ."
    ". . main main main main main main main main . ."
    "footer footer footer footer footer footer footer footer footer footer footer footer";

  .header {
    grid-area: header;
    @include flex-container;
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    box-shadow: var(--md-elevation-4);
    .navbar {
      @include flex-items(2, 1, 0);
      @include grid-container(
        repeat(4, 1fr),
        repeat(2, 1fr),
        row nowrap,
        var(--md-elevation-8),
        var(--md-sys-color-primary-container),
        var(--md-sys-color-on-primary-container)
      );
      grid-template-areas: ". . . . . .";
      justify-self: stretch;
      align-self: center;
      grid-area: navbar;
    }
  }

  .main {
    @include grid-container(
      repeat(4, 1fr),
      repeat(7, 1fr),
      var(--md-elevation-2),
      var(--md-sys-color-primary-container),
      var(--md-sys-color-on-primary-container)
    );
    grid-template-areas:
      ". title title ."
      ". title title ."
      "links links links links"
      "links links links links"
      "links links links links"
      "links links links links"
      "links links links links";
    grid-area: main;
    .title {
      grid-area: title;
      text-align: center;
      margin: auto;
      color: var(--md-sys-color-primary);
    }
    .links {
      @include grid-container(
        repeat(2, 1fr),
        repeat(7, 1fr),
        var(--md-elevation-1)
      );
      grid-template-areas:
        ". ."
        ". ."
        ". ."
        ". ."
        ". ."
        ". ."
        ". .";
      grid-area: links;
      list-style-position: inside;
      & > li {
        padding: 1%;
        margin: 2rem;
        background-color: var(--md-sys-color-secondary-container);
        color: var(--md-sys-color-on-secondary-container);
      }
    }
  }

  .footer {
    grid-area: footer;
  }
}
